body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.person-name {
    font-size: 5rem;
}

img.logo {
    height: 14rem;
    width: 14rem;
}

img.blog {
    height: 5rem;
    width: 5rem;
}

img.blog:hover {
    height: 6rem;
    width: 6rem;
}

img.arrow {
    height: 3rem;
    width: 3rem;
    transition: 1s;
    margin: 2rem;
}

img.arrow.toggle {
    height: 4rem;
    width: 4rem;
    transition: 1s;
}

span.title {
    font-weight: bold;
    font-size: 3.5rem;
}

span.subtitle {
    font-size: 2.0rem;
}

p.person-name {
    font-family: "MV Boli", serif;
    color: black;
}

.link-icons{
    display: flex;
    justify-content: space-around;
}
